<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://aiagentappsvc20240922190831.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/cde9c8e2-57ec-4dde-908a-5664f3481cc6/resourceGroups/commercial-revrec-rg/providers/Microsoft.ContainerRegistry/registries/revrecstaging</ContainerResourceId>
    <ContainerResourceName>revrecstaging</ContainerResourceName>
    <Subscription>ComFin-RevRec-Prototype</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>revrecstaging.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/cde9c8e2-57ec-4dde-908a-5664f3481cc6/resourceGroups/pratushb-ai-rg/providers/Microsoft.ApiManagement/service/AIAgentAppSvcapi/apis/AIAgentAppSvc</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/cde9c8e2-57ec-4dde-908a-5664f3481cc6/resourcegroups/pratushb-ai-rg/providers/Microsoft.Web/sites/AIAgentAppSvc20240922190831</ResourceId>
    <ResourceGroup>pratushb-ai-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aiagentappsvc20240922190831.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6731c694-d661-4e77-96e7-ed670305c2d6</ProjectGuid>
  </PropertyGroup>
</Project>