<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/cde9c8e2-57ec-4dde-908a-5664f3481cc6/resourceGroups/commercial-revrec-rg/providers/Microsoft.ContainerRegistry/registries/revrecstaging</ContainerResourceId>
    <ContainerResourceName>revrecstaging</ContainerResourceName>
    <Subscription>ComFin-RevRec-Prototype</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>revrecstaging.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>aiagentappsvc</ContainerName>
    <EnvironmentName>AIAgentAppSvc-env-20240921133407</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://aiagentappsvc-app-20240921133406.mangosand-2776a108.eastus2.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cde9c8e2-57ec-4dde-908a-5664f3481cc6/resourceGroups/containerapps-pratushb-rg/providers/Microsoft.App/containerApps/aiagentappsvc-app-20240921133406</ResourceId>
    <ResourceGroup>containerapps-pratushb-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>